<!-- Footer -->
<div id="footer-wrapper">
	<section id="footer" class="container">
		<div class="row">
			<div class="4u 12u(mobile)">
			  	<header>
						<h2>Connect</h2>
					</header>
					<ul class="social">
						<li><a class="icon fa-github" href="https://github.com/smbache"><span class="label">Github</span></a></li>
						<li><a class="icon fa-twitter" href="https://twitter.com/stefanbache"><span class="label">Twitter</span></a></li>
						<li><a class="icon fa-linkedin" href="https://dk.linkedin.com/in/stefanbache"><span class="label">LinkedIn</span></a></li>
					</ul>
			</div>
			<div class="4u 12u(mobile)">
			</div>
			<div class="4u 12u(mobile)">
				<section>

					<ul class="contact">
						<li>
							<h3>E-mail</h3>
							<p>contact (a) stefanbache.dk</p>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="12u">

				<!-- Copyright -->
					<div id="copyright">
						<ul class="links">
							<li>&copy; Stefan Milton Bache. All rights reserved.</li></li>
						</ul>
					</div>

			</div>
		</div>
	</section>
</div>
